.box{
  border: 5px solid black;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.win{
  border: 5px solid green;
}
.tie{
  border: 5px solid black;
}
.lose{
  border: 5px solid red;
}

.item-img{
  width: 400px;
  height: 400px;
}

.main{
  display: flex;
  justify-content: center;
}